<footer>

    <ul>
        <li class="footerItem">
            <div>&copy; 2022 Speedrun</div>
        </li>

        <li class="footerItem">
            <a href="https://speedrunmusic.bandcamp.com/">
                <fa-icon [icon]="faBandcamp"></fa-icon>
            </a>
        </li>

        <li class="footerItem">
            <a href="https://www.instagram.com/speedrunrock/">
                <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
        </li>

        <li class="footerItem">
            <a href="https://music.youtube.com/playlist?list=OLAK5uy_mJk5VgiSARCfgbCcGZfoGSJTLkWxwHaZE">
                <fa-icon [icon]="faYoutube"></fa-icon>
            </a>
        </li>

        <li class="footerItem">
            <a href="https://music.apple.com/us/artist/press-start/1580739979">
                <fa-icon [icon]="faApple"></fa-icon>
            </a>
        </li>

        <li class="footerItem">
            <a href="https://music.amazon.com/artists/B0BNZDVCKP/speedrun?marketplaceId=ATVPDKIKX0DER&musicTerritory=US&ref=dm_sh_IjiEeheJu7YjfS6Imu9iK6Stc">
                <fa-icon [icon]="faAmazon"></fa-icon>
            </a>
        </li>

        <li class="footerItem">
            <a href="https://open.spotify.com/artist/3rRsNCoORCOwNW8IlPz5PF?si=k7_4HUUTTsKDp9412iJx3g">
                <fa-icon [icon]="faSpotify"></fa-icon>
            </a>
        </li>


    </ul>

</footer>

