<mat-toolbar color="primary">
    

    
        
            <a class="speedrun-logo-link" routerLink="/home"><img class="speedrun-logo" src="assets/images/banner-right-bandcamp.png">
            </a>
   
    <span class="spacer"></span>
    
    <button mat-flat-button color="primary" routerLink="/music">Music</button>
    <button mat-flat-button color="primary" routerLink="/about">About</button>
        
    
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>