
<div class="music-div">
    
    <iframe class="music-embeds" style="border: 0; width: 350px; height: 442px;" src="https://bandcamp.com/EmbeddedPlayer/track=1758231534/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/transparent=true/" seamless><a href="https://speedrunmusic.bandcamp.com/track/world-champs">World Champs by Speedrun</a></iframe>

    <br><br>

    <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=367171557/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/track=1472266875/transparent=true/" seamless><a href="https://speedrunmusic.bandcamp.com/album/seasons-greetings-from-speedrunville">Season&#39;s Greetings From Speedrunville by Speedrun</a></iframe>
</div>

